*{font-family: 'Cormorant Infant', 'Georgia', serif;}

h1 {font-family:'Roboto','arial', sans-serif;}
h2 {font-family: 'Roboto','arial', sans-serif;}
p {font-family: 'Merriweather', 'Georgia', serif;}