body {background-color:white;
    padding: 30px;}

#parent_container{background-color:Red;
  width: 500px;
  height: 500px;
border:2px solid black;
z-index:1;}

#I 
{background-color:Yellow;
height:325px;
width:75px;
left:129px;
top:136px;
z-index:2;
position: absolute;}

#shadow
{background-color:black; 
height:350px;
width:100px;
left:300px;
top:250px;
z-index:3;
margin: 6em 4em 4em 4em;}

#text{background-color:white;
    top:100px;
  width:600px;
    display: inline block;
margin: 1em 1em 1em 1em;}
h1{font-family: 'Abril Fatface', cursive; }
p{font-family: 'Roboto', sans-serif;}


